.login{
    background: linear-gradient(135deg, #1f96ff, #ee9aff);    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login_container{
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px;
}

.login_container > img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

.login_container > button{
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #3549ff !important;
    color: white;
}

.form-field 
{
    display: flex;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.form-field > form > div
{
    margin: 20px;    
}

form{
    width: 100%;
}

.submit > Button
{
    margin-top: 10px;
    text-transform: inherit !important;
    background-color: #3549ff !important;
    color: white;
}

input
{
    width: 235px;
    height: 30px;
    border: none;
}

#register
{
    display:  none;
}
